<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <h1>Add a review about {{dealership.full_name}}</h1>
        
        <form action="{% url 'djangoapp:add_review' dealer_id %}" method="post">
            {% csrf_token %}
            <label for="content">Enter the review content:</label>
            <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
            <br /><br />
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck" value="True">
                <label for="purchasecheck"> Has purchased the car from {{dealership.short_name}}?</label>
            </div>
            
            <br /><br />
            <select name="car" id="car" class="form-select" required>
                {% for car in cars %}
                <option selected value={{car.id}}>{{car.car_make.name}}-{{car.name}}-{{car.year|date:"Y"}}</option>
                {% endfor %}
            </select>

            <input type="text" class="date-own form-control" name="purchasedate" id="purchasedate">
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </body>
    <script type="text/javascript">
        $('.date-own').datepicker({
            format: 'mm/dd/yyyy'
        })
    </script>
</html>